@font-face {
    font-family: 'Botw';
    src: url('./font.otf');
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Botw', sans-serif;
}
body {
    background-image: url(../img/background.jpg);
    background-color: rgb(34, 34, 34);
    background-blend-mode: darken;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(209, 192, 160);
}
h1 {
    text-align: center;
    font-size: 50px;
}
.equipamentos {
    .subtitulo {
        text-align: center;
        font-size: 40px;
    }
    .flex-wrapper {
        margin: 0 auto;
        max-width: 1920px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .item {
            max-width: 400px;
            height: 700px;
            text-align: center;
            margin: 20px 50px 0px 50px;
            transition: 0.2s ease-in-out;
            cursor: pointer;
            .nome {
                font-size: 40px;
            }
            .imagem {
                border-radius: 5px;
                margin: 0px 30px 0px 30px;
            }
            .descriçao {
                font-size: 25px;
                margin: 10px 30px 0px 30px;
            }
            ul {
                padding: 0;
                list-style-type: none;
                font-size: 20px;
            }
        }
    }
}
.scroll-top {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 90%;
    transform: translateX(-50%);
    font-family: "Botw", sans-serif;
    font-size: 20px;
    color: rgb(209, 192, 160);
    background-color: rgba(0, 0, 0, 0.404);
    border: 1px solid rgb(209, 192, 160);
    border-radius: 2px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
    &:hover {
         opacity: 1;
    }
}
.show {
    display: block;
}
@media only screen and (min-width: 700px) {
    .item:hover {
        transform: scale(1.1);
    }
}